# Frontend URL for generating referral links
FRONTEND_URL=http://localhost:3000

# ==============================
# Storage Configuration
# ==============================
STORAGE_PROVIDER=local
DO_SPACES_KEY=DO80136ACJYGKJ7R9KLU
DO_SPACES_SECRET=9mxt3fRcRfF45wO0UXuZmDASfvpoy/px7yWEEUfH2bc
DO_SPACES_BUCKET=bumchum
DO_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
DO_SPACES_REGION=sfo3
